.header {
  width: 100%;
  background: #fff;
}

/* Top row */
.headerTop {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 18px 40px;
}

/* Center column */
.logoCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px; 

  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

/* Navbar */
.mainNav {
  margin-top: 2px; 
}

.navList {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #111;
  cursor: pointer;
}


.headerIcons {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}


@media (max-width: 768px) {
  .mainNav {
    display: none;
  }

  .logoCenter {
    font-size: 18px;
  }
}


